!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/db.js')
  body
    header
      h1 dev-admin
      h2=hostname
    nav
      ul
        - for (var a in actions)
          li
            a(href="/" + actions[a].name)
              -if (typeof(actions[a].group) != "undefined")
                =actions[a].group + "/"
              =actions[a].name
    aside
      p This is for now just a very simple app that lets you select a DB dump from a directory and reload that
    section.main
      != body
